<h1>投稿詳細</h1>
  <table>
    <tr>
      <th>ユーザー名</th>
      <td><%= @post.user.name %></td>
    </tr>
    <tr>
      <th>店名</th>
      <td><%= @post.shop %></td>
    </tr>
    <tr>
      <th>地域</th>
      <td><%= @area.name %></td>
    </tr>
    <tr>
      <th>カテゴリ</th>
      <td><%= @category.name %></td>
    </tr>
    <tr>
      <th>買った商品</th>
      <td><%= @post.item %></td>
    </tr>
    <tr>
      <th>感想</th>
      <td><%= @post.impression %></td>
    </tr>
  </table>
<br>
  <h4>コメント一覧</h4><p>コメント件数：<%= @post.comments.count %>件</p>
  <table>
    <thead>
    <tr>
      <th>投稿日</th>
      <th>ユーザー名</th></th>
      <th>コメント</th>
      <th></th>
    </tr>
    </thead>
    <% @post.comments.each do |comment| %>
    <tbody>
    <tr>
      <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= comment.user.name %></td>
      <td><%= comment.comment %></td>
      <% if comment.user == current_user %>
        <td><%= link_to "削除", public_post_comment_path(@post, comment), method: :delete, class:"btn btn-sm btn-danger" %></td>
      <% end %>
    </tr>
    </tbody>
    <% end %>
  </table>
  <br>
  <div>
    <h4>この投稿にコメントする</h4>
    <%= form_with model: [:public, @post, @comment] do |f| %>
      <%= f.text_area :comment %>
      <%= f.submit "コメントを送信" %>
    <% end %>
  </div>

<br>
<%= link_to "投稿一覧に戻る", public_posts_path %>