<h1>投稿詳細</h1>
  <table>
    <tr>
      <th>ユーザー名</th>
      <td><%= @post.user.name %></td>
    </tr>
    <tr>
      <th>店名</th>
      <td><%= @post.shop %></td>
    </tr>
    <tr>
      <th>地域</th>
      <td><%= @area.name %></td>
    </tr>
    <tr>
      <th>カテゴリ</th>
      <td><%= @category.name %></td>
    </tr>
    <tr>
      <th>買った商品</th>
      <td><%= @post.item %></td>
    </tr>
    <tr>
      <th>感想</th>
      <td><%= @post.impression %></td>
    </tr>
  </table>


  <div>
    <h4>コメント一覧</h4><p>コメント件数：<%= @post.comments.count %>件</p>
    <% @post.comments.each do |comment| %>
      <%= comment.user.name %>
      <%= comment.created_at.strftime('%Y/%m/%d') %>
      <% if comment.user == current_user %>
        <%= link_to "削除", public_post_comment_path(comment.comment), method: :delete %>
      <% end %>
    <% end %>
  </div>
  <div>
    <%#= form_with model: [@post, @comment] do |f| %>
      <%#= f.text_area :comment %>
      <%#= f.submit "コメントを送信" %>
    <%# end %>
  </div>

<br>
<%= link_to "投稿一覧に戻る", public_posts_path %>