<div class="container mt-5">
  <div class="row">
    <div class="col-md-5">

<h2>地域の新規登録</h2><br>
<%= form_with model: [:admin,@area] do |f| %>
  <h4>地域名</h4>
  <%= f.text_field :name %>
  <%= f.submit '新規登録', class:"btn btn-primary" %>
<% end %>
    </div>

    <div class="col-md-5 offset-md-1">
<h2>地域名一覧</h2><br>
<table class="table mx-auto">
  <thead>
    <th>地域名</th>
    <th></th>
  </thead>
  <% @areas.each do |area| %>
  <tbody>
    <tr>
      <td><%= area.name %></td>
      <td><%= link_to "編集", edit_admin_area_path(area), class:"btn btn-sm btn-success" %></td>
    </tr>
  </tbody>
  <% end %>
</table>

    </div>
  </div>
</div>
